
<% if !logged_in?%>
  <div class="welcome">
    <div class="row">
      <div class="welcome-message col-sm-8">
        <h1>Let's be <span>mo</span>ved ha<span>ck</span>s!</h1>
        <p>mockはすべてのエンジニアへ向けた技術に関する感動を共有するサービスです。自分がコーディング・勉強をしている時に感動した技術を他のエンジニアと共有しましょう。</p>
      </div>
      <div class="welcome-sign col-sm-4">
        <ul class="nav nav-tabs nav-justified">
          <li class="active left-nav"><a href="#top-signin" data-toggle="tab">Sign In</a></li>
          <li class="right-nav"><a href="#top-signup" data-toggle="tab">Sign Up</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="top-signin">
            <%= render 'sessions/form'%>
          </div>
          <div class="tab-pane" id="top-signup">
            <%= render 'users/form', user: @user%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="home row">
  <div class="left-col col-md-2">
    <ul class="nav nav-pills nav-stacked pc-trend-nav">
      <li class="active"><a href="#daily" data-toggle="pill"><i class="fas fa-chart-line"></i> Daily</a></li>
      <li><a href="#weekly" data-toggle="pill"><i class="fas fa-chart-line"></i> Weekly</a></li>
      <li><a href="#monthly" data-toggle="pill"><i class="fas fa-chart-line"></i> Monthly</a></li>
    </ul>
    <ul class="nav nav-tabs nav-justified sp-trend-nav">
      <li class="active"><a href="#daily" data-toggle="tab"><i class="fas fa-chart-line"></i> Daily</a></li>
      <li><a href="#weekly" data-toggle="tab"><i class="fas fa-chart-line"></i> Weekly</a></li>
      <li><a href="#monthly" data-toggle="tab"><i class="fas fa-chart-line"></i> Monthly</a></li>
    </ul>
  </div>

  <div class="center-col col-md-7">
    <div class="tab-content">
      <div class="tab-pane active daily-trend" id="daily">
        <div class="home-item-header">
          <p>ヘッダー</p>
        </div>
        <% if @daily_hacks%>
          <% @daily_hacks.each do |daily_hack, point|%>
            <%= render partial: 'hacks/content', locals: {hack: daily_hack, point: point} %>
          <%end%>
        <%end%>
      </div>
      <div class="tab-pane weekly-trend" id="weekly">
        <div class="home-item-header">
          <p>ヘッダー</p>
        </div>
        <% @weekly_hacks.each do |weekly_hack, point|%>
          <%= render partial: 'hacks/content', locals: {hack: weekly_hack, point: point} %>
        <%end%>
      </div>
      <div class="tab-pane monthly-trend" id="monthly">
        <div class="home-item-header">
          <p>ヘッダー</p>
        </div>
        <% @monthly_hacks.each do |monthly_hack, point|%>
          <%= render partial: 'hacks/content', locals: {hack: monthly_hack, point: point} %>
        <%end%>
      </div>
    </div>

      
      
  </div>

  <div class="right-col col-md-3">
  右からむ
    <a href="/">TopPage</a>
  </div>
</div>