<!DOCTYPE html>
<html>
  <head>
    <title>Mock</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <div class="new-body">
      <%= link_to root_path, class: "new-top-title" do %>
        <h1 class="new-h1"><span class="new-title">mock</span></h1>
      <% end %>
      <div class="container form-container">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <h2 class="sign-message">パスワード再設定</h2>
            <hr>
            <div class="container">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1 user-form">
                  <%= form_with scope: :password_reset, url: password_resets_path do |f| %>
                    <div class="field form-group">
                      <%= f.email_field :email, class: 'form-control', placeholder: :email %>
                    </div>
                    <%= f.submit "Submit", class: "submit-btn form-control" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
