<div class="col-xs-12 discussion-content" id="discussion<%= discussion.id%>">
  <%= render 'discussions/content', discussion: discussion %>
</div>
<div id="reply_discussions<%= discussion.id %>">
  <% if discussion.reply_discussions %>
    <%= render 'discussions/reply_content', discussion: discussion %>
  <% end %>
</div>
<div class="col-xs-10 col-xs-offset-1" id="reply-discussion-form<%= discussion.id %>">
  <%= form_with url: hack_comment_discussions_path(discussion.comment.hack_id, discussion.comment_id), model: Discussion.new do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :comment_id, value: discussion.comment_id %>
    <%= form.hidden_field :discussion_id, value: discussion.id %>
    <%= form.text_area :content, rows: 1, class: "form-control", style: "text-align: center;", placeholder: "Let's discussion!!!" %>
    <%= button_tag 'リプライ', class: "btn right-submit-btn reply-btn", type: 'submit' %>
  <% end %>
</div>
