<%= discussion.user.name %>
<%= discussion.content %>
<%= discussion.created_at.strftime("投稿日：%Y/%m/%d") %>
<% if discussion.reply_discussions %>
  <% discussion.reply_discussions.each do |reply|%>
    | <%= discussion.user.name %>
    | <%= discussion.content %>
    | <%= discussion.created_at.strftime("投稿日：%Y/%m/%d") %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <%= form_with url: hack_comment_discussions_path(discussion.comment.hack_id, discussion.comment_id), model: Discussion.new do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :comment_id, value: discussion.comment_id %>
      <%= form.hidden_field :discussion_id, value: discussion.id %>
      <%= form.text_area :content, rows: 1, class: "form-control", style: "text-align: center;", placeholder: "Let's discussion!!!" %>
      <%= button_tag 'リプライ', class: "btn right-submit-btn", type: 'submit' %>
    <% end %>
  </div>
</div>
<hr>