<%if logged_in?%>

  <%= form_with(url: hack_comments_path(@hack.id), model: Comment.new, local: true) do |form| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this @comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :hack_id, value: @hack.id %>
    <p><%= current_user.name %>がコメントしようとしています</p>
    <div class="field comment-feeling">
      <%= form.label :feeling %>
      <%= form.radio_button :feeling, 0, {id: "crown", checked: true} %>
        <label for="crown" class="feeling"><i class="fas fa-crown fa-lg"></i></label>
        <div class="feeling-explanation">便利でめっちゃ使う</div>
      <%= form.radio_button :feeling, 1, id: "clock" %>
        <label for="clock" class="feeling"><i class="far fa-clock fa-lg"></i></label>
        <div class="feeling-explanation">めっちゃ悩んでたのが解決した</div>
      <%= form.radio_button :feeling, 2, id: "flag" %>
        <label for="flag" class="feeling"><i class="far fa-flag fa-lg"></i></label>
        <div class="feeling-explanation">地味に便利</div>
      <%= form.radio_button :feeling, 3, id: "dead-book" %>
        <label for="dead-book" class="feeling"><i class="fas fa-book-dead fa-lg"></i></label>
        <div class="feeling-explanation">難易度高め</div>
      <%= form.radio_button :feeling, 4, id: "baby" %>
        <label for="baby" class="feeling"><i class="fas fa-baby fa-lg"></i></label>
        <div class="feeling-explanation">早く知りたかった</div>
      <%= form.radio_button :feeling, 5, id: "code" %>
        <label for="code" class="feeling"><i class="fas fa-code fa-lg"></i></label>
        <div class="feeling-explanation">基礎（必須）</div>
    </div>

    <div class="field">
      <%= form.label "コメント" %>
      <%= form.text_area :content, required: true, id: :@comment_content, placeholder: "あなたの感動したタイミングを共有しましょう！" %>
    </div>



    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
<%else%>
  <%= link_to 'ログインしようぜ', new_user_path %>
<%end%>