<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="user-show-top">
        <h1 class="hack-title"><%= @hack.category.name %></h1>
        <h2 class="hack-role">-<%= @hack.role.name %>-</h2>
        <%= render 'hacks/follow_form', hack: @hack %>
      </div>
      <div class="row user-stats">
        <div class="col-xs-12 col-md-11 col-md-offset-1">
          <h3 class="inline-block"><i class="fas fa-book"></i> Commentary</h3>
          <h4><%= @comment.content %></h4>
        </div>
        <div class="col-xs-12 col-md-11 col-md-offset-1">
          <h3 style="position: relative;"><i class="fas fa-comments"></i> Discussion</h3>
          <button id="btn" class="new-discussion-btn"><i class="fas fa-pen"></i></button>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1" id="discussion_content">
              <% if @discussions %>
                <%= render partial: 'discussions/discussion', collection: @discussions %>
              <% end %>
            </div>
            <div class="col-xs-10 col-xs-offset-1" id="new-discussion-form">
              <%= form_with url: hack_comment_discussions_path(@hack.id, @comment.id), model: @discussion, class: "form-group" do |form| %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <%= form.hidden_field :comment_id, value: @comment.id %>
                <%= form.text_area :content, class: "form-control", style: "text-align: center;", placeholder: "解説に対して意見を投稿してディスカッションしましょう！" %>
                <%= button_tag '新規投稿', class: "btn right-submit-btn", type: 'submit' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).on('turbolinks:load', function() {
  $("#btn").on("click", function(){
    var n = window.location.href.slice(window.location.href.indexOf('?') + 4);
    var p = $("#new-discussion-form").offset().top;
    $('html,body').animate({ scrollTop: p }, 'slow');
    return false;
  });
});
</script>