<%= form_with(model: hack, local: true) do |form| %>
  <% if hack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hack.errors.count, "error") %> prohibited this hack from being saved:</h2>

      <ul>
      <% hack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_role_relationship_id %>
    <%= form.text_field :category_role_relationship_id, id: :hack_category_role_relationship_id %>
  </div>

  <div class="field">
    <%= form.label :comment_id %>
    <%= form.text_field :comment_id, id: :hack_comment_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
