<%= link_to hack do  %>
  <section class="hack-content">
    <div class="hack-text">
      <div class="names">
        <div class="category-name">
          <%= hack.cname %>
        </div>
        <div class="role-name">
          -<%= hack.rname %>-
        </div>
      </div>
        <div class="pointing-up"><i class="fas fa-level-up-alt"></i> <%= hack.trend_point %></div>
      <label style="display: block;">
        <div class="tag-lists">
          <% hack.tags.each do |tag| %>
            <span class="tag-list"><%= tag %></span>
          <% end %>
        </div>
      </label>
      <div class="overview">
        <%= hack.overview.truncate(100)%>
      </div>
    </div>
  </section>
<% end %>