<p>
  <strong>Category:</strong>
  <%= @hack.category.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @hack.role.name %>
</p>

<%= form_with model: @hack do |form| %>
  <div class="field form-group">
    <strong>Tag_list:</strong>
    <% @hack.tag_list.each do |tag| %>
      <span class="label label-primary"><%= tag %></span>
    <% end %>
    <% form.label :hack, :tag_list %>
    <ul id="hack-tags"></ul>
  </div>
<% end %>
<p>
  <strong>Overview:</strong>
  <%= @hack.overview %>
</p>

<% @comments.each do |comment|%>
  <%= render 'comments/feeling', {comment: comment}%>
  <p>
    <%=comment.content%><br>
    <%=comment.created_at%>
  </p>
<% end %>

<p><%= @comments.count %>コメント</p>
<%= render 'comments/form'%>



<%= link_to 'Back', hacks_path %>
