<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="user-show-top">
        <h1 class="hack-title"><%= link_to @hack.category.name, search_path(q: { category_name_cont: @hack.category.name }) %></h1>
        <h2 class="hack-role">-<%= link_to @hack.role.name, search_path(q: { role_name_cont: @hack.role.name }) %>-</h2>
        <% if logged_in?%>
          <%= render 'follow_form', hack: @hack %>
        <% end %>
      </div>
      <div class="row user-stats">
        <div class="col-xs-6 col-md-5 col-md-offset-1">
          <h3><i class="fas fa-chart-bar"></i> Score</h3>
          <span style="font-size: 16px;" id="hack-point"><%= @hack.point %></span>
        </div>
        <div class="col-xs-6">
          <h3>
            <i class="fas fa-tags"></i> Tags
            <% if logged_in? %>
              <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#tag-add" id="tag-add-btn">＋</button>
            <% end %>
          </h3>
          <label for="#tag-add-btn" id="tag-label">
            <object id="tag-lists">
              <% @hack.tag_list.each do |tag| %>
                <span class="tag-list"><%= link_to tag, search_path(q: { tags_name_cont: tag })  %></span>
              <% end %>
            </object>
          </label>
          <div class="field form-group　tag-add collapse" id="tag-add">
            <%= form_with model: @hack do |form| %>
              <% form.label :hack, :tag_list %>
              <ul id="hack-tags"></ul>  
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-11 col-md-offset-1">
          <h3><i class="fas fa-chalkboard"></i> Overview</h3>
          <div class="hack-overview"><%= @hack.overview %></div>
        </div>
        <div class="col-xs-12 col-md-11 col-md-offset-1">
          <h3 class="inline-block"><i class="fas fa-book"></i> Commentaries</h3>
          <span class="commentary-message"><%= @comment_num %>件中<%= @comments.count %>件の解説を表示しています。</span>
            <div class="col-xs-10 col-xs-offset-1" id="comments">
              <% @comments.each do |comment|%>
                <div class="row">
                  <div class="comment-content">
                    <%= link_to hack_comment_path(comment.hack_id, comment) do %>
                      <%= render 'comments/feeling', {comment: comment}%>
                      <div id="commentary-stats<%= comment.id %>">
                        <%= render 'comments/commentary_stats', {comment: comment}%>
                      </div>
                      <%=comment.content%><br>
                      <%=comment.created_at.strftime("投稿日: %Y/%m/%d")%>
                    <% end %>  
                    <% if logged_in? %>
                      <div id="reaction-form" class="reaction-form">
                        <% unless current_user.reaction?(comment.id) %>
                          <%= render 'reactions/first_reaction', {comment: comment} %>
                        <% else %>
                          <%= render 'reactions/change_reaction', {comment: comment} %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <% comment.discussions.where(discussion_id: nil).limit(2).each do |discussion|%>
                    <div class="col-xs-12" style="margin: 0 0 14px 5vw; border-left: #5FE748A0 4px solid;">
                      <%= discussion.user.name %><br>
                      <%= discussion.content %><br>
                      <%= discussion.created_at.strftime("%Y/%m/%d") %>
                    </div>
                  <% end %>
                  <% if comment.discussions.count >= 3%>
                    <div class="col-xs-12" style="margin-left: 5vw;">
                      <%= link_to 'Read more', hack_comment_path(comment.hack_id, comment) %>
                    </div>
                  <% end %>
                </div>
                <hr>
              <% end %>
              <%= paginate @comments%>
            </div>
          <hr>
          <div class="col-xs-10 col-xs-offset-1">
            <%= render 'comments/form'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>