<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <%= form_with(model: user, local: true) do |form| %>
        <%= render 'shared/error_messages' %>

        <div class="field form-group">
          <%= form.text_field :name, class: "form-control", id: :user_name, placeholder: :name %>
        </div>

        <div class="field form-group">
          <%= form.text_field :email, class: "form-control", id: :user_email, placeholder: :email %>
        </div>

        <div class="field form-group">
          <%= form.text_field :proficiency, class: "form-control", id: :user_proficiency, placeholder: :proficiency %>
        </div>

        <div class="field form-group">
          <%= form.text_field :password, class: "form-control", id: :user_password, placeholder: :password %>
        </div>

        <div class="field form-group">
          <%= form.text_field :password_confirmation, class: "form-control", id: :user_password_confirmation, placeholder: :password_confirmation %>
        </div>

        <div class="actions">
          <%= form.submit '登録', class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
