
<% provide(:title, @user.name) %>


<h1>My Page</h1>

<section class="stats">
  <%= render 'shared/stats' %>
</section>
<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




<%= link_to 'Edit', edit_user_path(current_user) %> |
<%= link_to 'Back', users_path %>

  <% if current_user.admin? && !current_user?(@user) %>
    | <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>