
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h1>
        @<%= @user.name %>
      </h1>

      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% unless current_user?(@user) %>
        <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
        </div>
      <% end %>

      <div class="user-data">
        website
        organization
        location
        description
      </div>

      <% if current_user?(@user) %>
        <div class="user-cog">
          <i class="fas fa-user-edit"></i>
          <%= link_to 'プロフィール編集', edit_user_path %>
        </div>
        <div class="user-cog">
          <div>
            <i class="fas fa-sign-out-alt"></i>
            <%= link_to "サインアウト", signout_path, method: :delete %>
          </div>
        </div>
        <div class="user-cog">
          <div>
            <i class="fas fa-user-alt-slash"></i>
            <%= link_to "アカウント削除", @user, method: :delete, data: { confirm: "本当に削除しますか?" } %>
          </div>
        </div>
      <% end %>
      <div class="user-cog">
        <b>フォロー中のカテゴリ</b>
        <ul class="following-categories" style="padding-top: 5px;">
          <% @user.categories.each do |category| %>
            <li><%= link_to category.name, search_path(key_word: category.name) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-9" style="margin-top: 30px;">
      <ul class="nav nav-tabs nav-justified user-stats-title">
        <li class="active">
          <a href="#commentaries" data-toggle="tab">
            <span style="font-weight: 900; font-size: 25px;">
              <%= @user.comments.count %>
            </span><br>
            Commentaries
          </a>
        </li>
        <li>
          <a href="#reactions" data-toggle="tab">
            <span style="font-weight: 900; font-size: 25px;">
              <%= @user.reactions.count %>
            </span><br>
            Reactions
          </a>
        </li>
        <li>
          <a href="#discussions" data-toggle="tab">
            <span style="font-weight: 900; font-size: 25px;">
              <%= @user.discussions.count %>
            </span><br>
            Discussions
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="commentaries">
          <div class="item-header">
            <h3><i class="fas fa-book"></i> あなたの投稿した解説</h3>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 user-stats user-show-stats">
              <% if comments = @user.comments.page(params[:comment_page]).per(20) %>
                <% comments.each do |comment|%>
                  <%= link_to hack_path(comment.hack_id), class: "user-stats-content" do %>
                    <div class="row">
                      <div class="col-xs-12">
                        <% hack = comment.hack %>
                        <%= hack.category.name %>
                        -<%= hack.role.name %>-<br>
                        <%= comment.content %><br>
                        <%= comment.created_at.strftime("投稿日：%Y/%m/%d")%>
                      </div>
                    </div>
                  <% end%>
                  <hr>
                <%end%>
                <%= paginate comments, :param_name => 'comment_page' %>
              <% else %>
                <p><% @user.name %>さんの解説はありません。</p>
              <%end%>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="reactions">
          <div class="item-header">
            <h3><span style="color: #f3972e;">★</span> あなたの評価した解説</h3>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 user-stats user-show-stats">
              <% if reactions = @user.reactions.page(params[:reaction_page]).per(20) %>
                <% reactions.each do |reaction|%>
                  <%= link_to hack_path(reaction.comment.hack_id), class: "user-stats-content" do %>
                    <div class="row">
                      <div class="col-xs-12">
                        <% hack = reaction.comment.hack %>
                        <%= hack.category.name %>
                        -<%= hack.role.name %>-<br>
                        <%= reaction.comment.content %><br>
                        評価：<span style="color: #f3972e;"><%= "★ " * reaction.evaluation %></span><br>
                        <%= reaction.updated_at.strftime("最終更新日：%Y/%m/%d")%>
                      </div>
                    </div>
                  <% end %>
                  <hr>
                <%end%>
                <%= paginate reactions, :param_name => 'reaction_page' %>
              <% else %>
                <p><% @user.name %>さんの評価した解説はありません。</p>
              <%end%>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="discussions">
          <div class="item-header">
            <h3><i class="fas fa-comments"></i> あなたの投稿した討論</h3>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 user-stats user-show-stats">
              <% if discussions = @user.discussions.page(params[:discussion_page]).per(20) %>
                <% discussions.each do |discussion|%>
                  <%= link_to hack_comment_path(discussion.comment.hack_id, discussion.comment_id), class: "user-stats-content" do %>
                    <div class="row">
                      <div class="col-xs-12">
                        <% comment = discussion.comment %>
                        <% hack = comment.hack %>
                        <%= hack.category.name %>
                        -<%= hack.role.name %>-<br>
                        <%= discussion.content %><br>
                        <%= discussion.created_at.strftime("投稿日：%Y/%m/%d")%>
                      </div>
                    </div>
                  <% end %>
                  <hr>
                <%end%>
                <%= paginate discussions, :param_name => 'discussion_page' %>
              <% else %>
                <p><% @user.name %>さんの討論データはありません。</p>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
