<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @hack.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @hack.subcategory %>
</p>

<p>
  <strong>Tags:</strong>
  <% @hack.tag_list.each do |tag| %>
    <span class="label label-primary"><%= tag %></span>
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @code.content %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @code.tag %>
</p>

<%= link_to 'Edit', edit_hack_code_path(@code) %> |
<%= link_to 'Back', hack_codes_path %>
