<header class="navbar<%if request.path =="/" && !logged_in?%> navbar-fixed-top<%end%>">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "mock", root_path, id: "logo", class: 'nav-title navbar-fixed-left' %></li>
        <li>
          <div data-toggle="modal" data-target="#myModal" type="button">
            <span class="nav-category">Category <b class="caret"></b></span>
          </div>
        </li>
        <%# ヘッダーの検索エンジン%>
        <li class="nav-list pc-search">
          <%= render 'shared/search' %>
        </li>
        <li class="nav-list sp-search">
          <div data-toggle="modal" data-target="#searchModal" type="button">
            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
          </div>
        </li>
        <%# ヘッダーの検索エンジン%>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="nav-icon"><%#= link_to "", "#", class: 'fas fa-bell fa-lg nav-content' %></li>
          <li class="nav-icon"><%= link_to "", new_hack_path, class: 'fas fa-pen fa-lg nav-content' %></li>
          <li class="nav-icon"><%= link_to "", current_user, class: 'fas fa-user fa-lg nav-content' %></li>
        <% else %>
          <li class="sp-nav nav-last-content"><%= link_to "", signin_path, class: 'glyphicon glyphicon-log-in nav-content' %></li>
          <li class="sp-nav"><%= link_to "", signup_path, class: 'fas fa-user-plus fa-lg nav-content' %></li>
          <li class="pc-nav nav-last-content"><%= link_to "Sign In", signin_path, class: 'nav-content' %></li>
          <li class="pc-nav"><%= link_to "Sign Up", signup_path, class: 'nav-content' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<%# ヘッダーのcategoryモーダル%>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Category</h4>
      </div>
      <div class="modal-body">
        <div class="modal-category">
          <ul><p class="modal-name">Category</p>
            <div class="borderLine">
              <% category_list.each do |category|%>
                <% unless category.hacks.blank? %> 
                  <li class="modal-list"><%= link_to category.name, search_path(q: { category_name_cont: category.name }) %></li>
                <% end %>
              <%end%>
            </div>
          </ul>
        </div>
        <div class="modal-role">
          <ul><p class="modal-name">Role</p>
            <div class="borderLine">
              <% role_list.each do |role|%>
                <% unless role.hacks.blank? %> 
                  <li class="modal-list"><%= link_to role.name, search_path(q: { role_name_cont: role.name }) %></li>
                <% end %>
              <%end%>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%# ヘッダーのcategoryモーダル%>


<%# ヘッダーのsearchモーダル%>
<div class="modal fade" id="searchModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search</h4>
      </div>
      <div class="modal-body">
        <%= render 'shared/search' %>
      </div>
      <div class="modal-footer">
        <div class="recommend">
          人気の検索ワード
        </div>
      </div>
    </div>
  </div>
</div>
<%# ヘッダーのsearchモーダル%>